<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        body {
            background: linear-gradient(to right, orange, green);
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'tasks:task-list' %}">Main(Головна)</a>
        <a class="navbar-brand" href="{% url 'tasks:register' %}">Registration(Реєстрація)</a>
        <form action="{% url 'tasks:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>