{% extends 'base.html' %}
{% block content %}
{% load custom_tags %}
<div class="container mt-3">
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    <p>
        Status(Статус):
        <span class="badge badge-primary">{{ task.status }}</span>
    </p>
    <p>
        Priority(Пріоритет):
        <span class="badge badge-secondary">{{ task.priority }}</span>
    </p>
    <a href="{% url 'tasks:task-update' task.id %}" class="btn btn-warning">
        Edit(Редагувати)
    </a>
    <a href="{% url 'tasks:task-delete' task.id %}" class="btn btn-danger">
        Delete(Видалити)
    </a>
    <div class="comments mt-4">
        <h3>Comments(Коментарі)</h3>
        {% for comment in task.comments.all %}
            <div class="comments mb-2">
                <p>{{ comment.text }}</p>
                {% if comment.media %}
                    <div class="comment-media">
                        {% if comment.media|is_image %}
                            <img src="{{ comment.media.url }}" alt="Comment Media" class="img-fluid">
                        {% elif comment.media|is_video %}
                            <video controls class="img-fluid">
                                <source src = "{{ comment.media.url }}" type="video/mp4">
                                Your browser does not support video playback (Ваш браузер не підтримує відтворення відео)
                            </video>
                        {% else %}
                            <a href="{{ comment.media.url }}" target="_blank">Download file(Завантажити файл)</a>
                {% endif %}
                    </div>
            </div>
                <small class="text-muted">
                    Author(Автор): {{ comment.author.username }}
                </small>
                <br><br>
                <form action="{% url 'tasks:comment-like-toggle' comment.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success btn-sm">
                        👍 Like(Лайк) ({{ comment.likes.count }})
                    </button>
                </form>
                <form action="{% url 'tasks:comment-dislike-toggle' comment.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                        👎 Dislike(Дизлайк) ({{ comment.dislikes.count }})
                    </button>
                </form>
            </div>
        </div>
    {% empty %}
        <p>No comments yet.(Комментарів поки немає.)</p>
    {% endfor %}
    <hr>
    <h4>Add comment(Додати коментар)</h4>
    <form action="{% url 'tasks:task-detail' task.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p }}

        <button type="submit" class="btn btn-primary">
            Send(Відправити)
        </button>
    </form>

</div>