*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#F5F7FA;

}

/* Общий контейнер */

.dashboard{

    display:grid;

    grid-template-columns:240px 1fr 280px;

    height:100vh;

}

/* Sidebar */

.sidebar{

    background:#003B8F;

    color:white;

    padding:30px;

}

.logo{

    margin-bottom:40px;

}

.logo h2{

    font-size:34px;

}

.logo p{

    color:#d7e4ff;

}

.menu{

    display:block;

    color:white;

    text-decoration:none;

    padding:15px;

    border-radius:10px;

    margin-bottom:12px;

    transition:.2s;

}

.menu:hover{

    background:rgba(255,255,255,.15);

}

.active{

    background:white;

    color:#003B8F;

    font-weight:bold;

}

/* Контент */

.content{

    padding:40px;

    overflow:auto;

}

.header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}

.new-task{

    background:#003B8F;

    color:white;

    padding:14px 22px;

    border-radius:10px;

    text-decoration:none;

    font-weight:bold;

}

.new-task:hover{

    background:#00296d;

}

/* Карточки */

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fill,minmax(320px,1fr));

    gap:25px;

}

.task-card{

    background:white;

    border-radius:15px;

    padding:25px;

    box-shadow:0 10px 20px rgba(0,0,0,.08);

    transition:.2s;

}

.task-card:hover{

    transform:translateY(-5px);

}

.task-card h3{

    color:#003B8F;

    margin-bottom:12px;

}

.task-card p{

    color:#666;

    margin-bottom:20px;

}

/* Статусы */

.badges{

    display:flex;

    gap:10px;

    margin-bottom:20px;

}

.status{

    background:#e3f2fd;

    color:#003B8F;

    padding:8px 14px;

    border-radius:20px;

    font-size:14px;

}

.priority{

    padding:8px 14px;

    border-radius:20px;

    color:white;

    font-size:14px;

}

.low{

    background:#2ecc71;

}

.average{

    background:#f39c12;

}

.high{

    background:#e74c3c;

}

/* Низ карточки */

.footer{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.footer a{

    text-decoration:none;

    font-size:22px;

    margin-left:12px;

}

/* Правая панель */

.stats{

    background:white;

    border-left:1px solid #ddd;

    padding:30px;

}

.stats h2{

    color:#003B8F;

}

.box{

    background:#F5F7FA;

    padding:20px;

    border-radius:12px;

    margin-top:20px;

}

.box span{

    color:#666;

}

.box h2{

    margin-top:10px;

}